language: go
go:
 - 1.2
 - 1.2.1
 - tip

install:
 - export PATH=$HOME/gopath/bin:$PATH
 - go get code.google.com/p/go.tools/cmd/cover
 - go get github.com/mattn/goveralls

script:
 - go test -v ./...
 - go test -covermode=count -coverprofile=profile.cov
 - goveralls -coverprofile=profile.cov -service=travis-ci
